@using Common.App.Core.Dapper.Models.Salary
@model IList<SalaryStructures>;
<style>
    .dataTables_wrapper .dataTables_length select {
        border: 1px solid #aaa;
        border-radius: 3px;
        padding: 5px;
        background-color: white !important;
        padding: 4px;
    }

    .dataTables_wrapper .dataTables_length, .dataTables_wrapper .dataTables_filter, .dataTables_wrapper .dataTables_info, .dataTables_wrapper .dataTables_processing, .dataTables_wrapper .dataTables_paginate {
        color: white !important;
    }

        .dataTables_wrapper .dataTables_filter input {
            border: 1px solid #aaa;
            border-radius: 3px;
            padding: 5px;
            background-color: white !important;
            margin-left: 3px;
        }
</style>
<link rel="stylesheet" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css">
<div id="main-content">
    <div class="container-fluid">
        <input type="hidden" id="hdnAddUrl" name="hdnAddUrl" value="@Url.Action("AddStructure",new { src = 0 })" />
        @await Html.PartialAsync("_ListHeader", "Salary Structure List")

        <div class="row clearfix">
            <div class="col-lg-12">
                <div class="card">
                    <div class="body">
                        <div class="table-responsive">
                            <table class="table table-striped js-exportable dataTable table-custom spacing5" id="tbl_structure">
                                <thead>
                                    <tr>
                                        <th>S No</th>
                                        <th>Structure Code</th>
                                        <th>Description</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                        int count = 0;
                                    }
                                    @foreach (SalaryStructures item in Model)
                                    {
                                        count++;
                                        <tr>
                                            <td>@count</td>
                                            <td>
                                                <input type="hidden" name="StructID" value="@item.StructID" />
                                                <a asp-action="StructureTranList" asp-controller="Salary" asp-route-src="Earning*@item.StructID" class="tranlist">@item.StructCode</a>
                                            </td>
                                            <td>@item.Description</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<!-- DataTables JS -->
<script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
<script>
    var $jq = jQuery.noConflict();
    $jq(document).ready(function(){
        $jq('#tbl_structure').DataTable();
    });
</script>