@using Common.App.Core.Dapper.Models.Masters
@using Common.App.Utility.Helpers
@model IList<MastersState>
<link rel="stylesheet" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css">
<div id="main-content">
    <div class="container-fluid">
        <input type="hidden" id="hdnAddUrl" name="hdnAddUrl" value="@Url.Action("AddState","Masters",new { src = @EncryptDecrypt.Encrypt("0") })" />
        @await Html.PartialAsync("_ListHeader", "State List")
        <div class="row clearfix">
            <div class="col-lg-12">
                <div class="card">
                    <div class="body">
                        <div class="table-responsive">
                            <table class="table table-striped js-exportable dataTable table-custom spacing5" id="tbl_state">
                                <thead>
                                    <tr>
                                        <th>S. No.</th>
                                        <th>Region</th>
                                        <th>State Code</th>
                                        <th>State Name</th>
                                        <th>Description</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                        int count = 0;
                                    }
                                    @foreach (MastersState item in Model)
                                    {
                                        count++;
                                        <tr>
                                            <td>@count</td>
                                            <td>@item.Region</td>
                                            <td>@item.StateCode</td>
                                            <td>@item.StateName</td>
                                            <td>@item.Description</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script> 
<script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
<script>
    var $jq = jQuery.noConflict();
    $jq(document).ready(function(){
        $jq('#tbl_state').DataTable();
    });
</script>